.profile { 
    width: 320px;
    margin: 70px auto 100px auto;
    border-radius: 15px;
    border: 3px solid black; 
}
.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f0ececf2;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}
.avatar{ 
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: black;
}
.name{ 
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    margin: 20px 0 10px 0;
}
.tag, .location { 
    font-size: 18px;
    line-height: 1.5;
    color: #a9a9a9;
}   
.tag{ 
    margin-bottom: 8px;
} 
.stats{ 
       display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 3px solid gray;
    background-color: #ddd0d0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.liItem{ 
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border-right: 3px solid gray;
    width: 100%;
}
.liItem:last-child{ 
    border-right: none;
}
.label{ 
    text-align: center;
    font-size: 12px;
    text-transform: uppercase;
}
.value{ 
    text-align: center;
    font-weight: 600;
}