.transactionHistory{ 
    margin: 0 auto;
        border: 2px solid black;
}
th{ 
    background-color: rgb(233, 0, 0);
}
.trclass{
    text-align: center;
}
.tdclass{
         border: 2px solid black;
}